<title>Join</title>

<body>
    <div class="jumbotron bg">
        <a href="index.html"><img id="logo" src="/cards/icon.png" alt="logo"></a>

        <div class="join-room">
            <h1 id="joinroom">Enter room code</h1>
            <div class="form-group row" id="roomcode">
                <div class="col-md-3"></div>
                <div class="col-md-6"><input type="text" name="roomcode" placeholder="Room Code" required="true"
                        class="form-control form-control-lg"></div>
                <div class="col-md-3"></div>
            </div>
            <a href="game.html"><button type="button" class="btn-lg btn btn-outline-dark">Lets go</button></a>
        </div>

    </div>

</body>

<link href="/css/style.css" rel="stylesheet" type="text/css" />