#logo
{
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -12px;
}

.header
{
  text-align: center;
  font-family: "Monaco";
}

.centertest
{
  font-family: 'Courier New', Courier, monospace;
  left: 0;
  line-height: 40px;
  position: relative;
  text-align: center;
  top: 50%;
  width: 100%;
}
