<body>
    <header>
        <a href="/"><img id="logo" src="/cards/icon.png" alt="logo"></a>

    </header>

    <div class="col-6 mx-auto">
        <div class="card py-5">
            <div class="container text-center">
                <h4>The spy was...</h4>
                <br>
                <h1 id="spy_reveal">Lavi</h1>
                <br>
                <a class="btn btn-outline-dark btn-lg" href="home" role="button">Play Again</a>
                <br><br>
                <a class="btn btn-outline-dark btn-lg" href="/" role="button">End Session</a>
                <br>
            </div>
        </div>
    </div>

</body>

<link href="/css/game-over.css" rel="stylesheet" type="text/css" />

{{!-- Spy is hardcoded for now --}}