<title>Game</title>

<link href="/css/game.css" rel="stylesheet" type="text/css" />
<script src="/js/game.js"></script>

<body>

    <div class="jumbotron bg-light">
        <a href="/"><img id="logo" src="/cards/icon.png" alt="logo"></a>
        <div class="header">
            <h1 id="welcome">Welcome to: </h1>
            <h2 onClick="put_name">Name: <span id="player_in_game">*name*</span></h1>
                <br>
                <div class="row">
                    <h3 class="col-md-6" id="role">Role: </h3>
                    <h3 class="col-md-6" id="place">Location: </h3>
                </div>
                <br>
                <h3>Time Left:<h3 id="time">*Timer Here*</h3>
                </h3>
        </div>
        <br><br>
        <div class="card-deck">
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/HSCARD.png" alt="High School">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>High School</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/BANK.png" alt="Bank">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Bank</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/COLLEGE.png" alt="College">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>College</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/PSHIP.png" alt="Pirate Ship">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Pirate Ship</b></h5>
                </div>
            </div>
        </div>

        <br><br>
        <div class="card-deck">
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/FARM.png" alt="Farm">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Farm</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/RESTO.png" alt="Restaurant">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Restaurant</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/OFFICE.png" alt="Office">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Office</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/THEMEPARK.png" alt="Theme Park">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Theme Park</b></h5>
                </div>
            </div>
        </div>

        <br><br>
        <div class="card-deck">
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/SUBMARINE.png" alt="Submarine">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Submarine</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/REUNION.png" alt="Family Reunion">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Family Reunion</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/AIRPLANE.png" alt="Airplane">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Airplane</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/MOVIESET.png" alt="Movie Set">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Movie Set</b></h5>
                </div>
            </div>
        </div>

        <br><br>
        <div class="card-deck">
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/GROCERY.png" alt="Grocery">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Grocery</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/CINEMA.png" alt="Cinema">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Cinema</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/BEACH.png" alt="Beach">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Beach</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/HOSPITAL.png" alt="Hospital">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Hospital</b></h5>
                </div>
            </div>
        </div>

        <br><br>
        <div class="card-deck">
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/SPA.png" alt="Spa">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Spa</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/CASINO.png" alt="Casino">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Casino</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/MOON.png" alt="Moon">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Moon</b></h5>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <img class="card-img-top pt-3" src="/cards/cards/COURT.png" alt="Courthouse">
                <div class="card-body">
                    <h5 class="card-title centertest"><b>Courthouse</b></h5>
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <a href="time-up" class="btn btn-outline-danger btn-lg text-center">End Game</a>
        </div>


    </div>

</body>