<title>Home</title>

<body>

    <div class="jumbotron bg">
        <a href="/"><img id="logo" src="/cards/icon.png" alt="logo"></a>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><a href="host" type="button" class="btn btn-outline-dark btn-lg btn-block">Host a
                    Room</button></a></div>
            <div class="col-md-2"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><a href="join" type="button" class="btn btn-outline-dark btn-lg btn-block">Join a
                    Room</button></a></div>
            <div class="col-md-2"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><a href="https://www.spyfall.app/gamerules" target="_blank" type="button"
                    class="btn btn-outline-dark btn-lg btn-block">How to Play</button></a></div>
            <div class="col-md-2"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><a href="aboutus" type="button" class="btn btn-outline-dark btn-lg btn-block">About
                    Us</button></a></div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
</body>

<link href="/css/home.css" rel="stylesheet" type="text/css" />
