<title>Host</title>

<link href="/css/host.css" rel="stylesheet" type="text/css" />
<script src="/js/host.js"></script>

<body>

    <header>
        <a href="/"><img id="logo" src="/cards/icon.png" alt="logo"></a>

    </header>

    <div class="container w-50 d-block">
        <div class="card nb-3">

            <h3 class="card-header text-center">Host a Game</h3>

            <div class="card-body">
                <form action="game">
                    <div class="form-group row">
                        <label for="event" class="col-sm-4 col-form-label">Name of Event:</label>
                        <div class="col-sm-8">
                            <input type="text" id="event" name="event" placeholder="Event" required
                                class="form-control">
                        </div>
                        <br><br>
                    </div>

                    <div class="form-group row">
                        <label for="players" class="col-sm-4 col-form-label">Number of Players:</label>
                        <div class="col-sm-2">
                            <select class="form-control form-control-md btn-outline-secondary" required="true"
                                id="players" name="players">
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="duration" class="col-sm-4 col-form-label">Time Limit:</label>
                        <div class="col-sm-3">
                            <select class="form-control form-control-md btn-outline-secondary" required="true"
                                id="duration" name="duration">
                                <option value="4m">4 minutes</option>
                                <option value="5m">5 minutes</option>
                                <option value="6m">6 minutes</option>
                                <option value="7m">7 minutes</option>
                                <option value="8m">8 minutes</option>
                                <option value="9m">9 minutes</option>
                            </select>

                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <p class="col-sm-4"><strong>Room Code:</strong> </p>
                        <div class="col-sm-3" id="generate">
                            <button type="button" class="btn btn-secondary" onclick="room()">Generate</button>
                        </div>
                        <div class="col-sm-7" id="share">
                            <p id="code">Room Code</p> <button type="button" class="btn btn-secondary"
                                onclick="share()">Copy</button>
                        </div>
                    </div>
            </div>

            <div class="col-sm-2 offset-sm-9">
                <button type="submit" class="btn btn-outline-dark" id="leggo">Lets go <svg width="1em" height="1em"
                        viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z" />
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                </button>
            </div>
            </form>
            <br>
        </div>
    </div>



</body>