<title>Welcome to Spyfall!</title>

<link href="/css/index.css" rel="stylesheet" type="text/css" />
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
<script>
    const firebaseConfig = {
        apiKey: "AIzaSyAz9tGeCMt2wtOfTky2EZsyfy-wTwfJyOs",
        authDomain: "spyfall-2.firebaseapp.com",
        databaseURL: "https://spyfall-2.firebaseio.com",
        projectId: "spyfall-2",
        storageBucket: "spyfall-2.appspot.com",
        messagingSenderId: "451719774814",
        appId: "1:451719774814:web:3a4a38e16c582953d32acf",
        measurementId: "G-7LJ4NQGS2E"
    };
    firebase.initializeApp(firebaseConfig);

    function buttonLoad() {
        document.getElementById("enter").style.display = "initial";
        document.getElementById("proceed").style.display = "none";

        document.getElementById("home-text").style.display = "initial";
    }

    window.onload = buttonLoad;


    function accept() {

        var playerName = document.getElementById("player_name").value;
        if (playerName == "") {
            alert("Seriously, who are you?");
        }

        else {
            var data = {
                name: playerName
            }

            var database = firebase.database();
            var ref = database.ref("Players");
            ref.push(data)

            document.getElementById("enter").style.display = "none";
            document.getElementById("proceed").style.display = "initial";
            document.getElementById("home-text").innerHTML = "Welcome, " + playerName + ". Your doom awaits.";

        }


    }
</script>

<body>
    <div class="jumbotron">
        <div class="row justify-content-md-center">
            <a href="/"><img id="logo" src="/cards/icon.png" alt="logo"></a>
        </div>

        <div class="home-text">
            <h1 id="home-text" class="display-3">Welcome to Spyfall 2.0!</h1>
            <form action="home">
                <div class="row">
                    <div class="col-sm-8 offset-2">
                        <input type="text" name="name" id="player_name" placeholder="What is your name?" required="true"
                            class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 offset-2">
                        <button type="submit" id="proceed" class="btn btn-outline-success">I accept my
                            fate</button>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-md-8 offset-2">
                    <button type="submit" class="btn btn-outline-success" id="enter" onclick="accept()">Enter</button>
                </div>
            </div>
        </div>
    </div>



</body>