<title>Welcome to Spyfall!</title>

<body>
    <div class="jumbotron bg">
        <div class="row justify-content-md-center">
            <a href="/"><img id="logo" src="/cards/icon.png" alt="logo"></a>
        </div>

        <div class="home-text">
            <h1 id="home-text" class="display-3">Welcome to Spyfall! Your doom awaits</h1>
            <form action="home">
                <div class="row">
                    <div class="col-sm-8 offset-2">
                        <input type="text" name="name" id="player_name" placeholder="What is your name?" required="true"
                            class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-2">
                        <button type="submit" class="btn btn-outline-success" onClick="getPlayerName()">I accept my
                            fate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



</body>

<link href="/css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/index.js"></script>
<link rel="shortcut icon" href="#" />