<title>Time's Up!</title>

<body>
    <header>
        <a href="/"><img id="logo" src="/cards/icon.png" alt="logo"></a>
    </header>

    <div class="col-6 mx-auto">
        <div class="card py-5">
            <div class="container text-center">
                <div class="row text-center d-block">
                    <img src="/cards/bomb.png" style="height: 15rem;" alt="bomb">
                </div>
                <h3>TIME'S UP!</h3>
                <h4>Time to guess who the spy was.</h4>
                <br>
                <a class="btn btn-outline-dark btn-lg" href="game-over" role="button">Reveal Spy</a>
                <br>
            </div>
        </div>
    </div>



</body>

<link href="/css/time-up.css" rel="stylesheet" type="text/css" />